<h1>Linked Signal</h1>
<div>
    <label for="menuSelect">เลือกเมนู:</label>
    <select id="menuSelect" [(ngModel)]="selectedMenuItemId">
        <option *ngFor="let item of menuItems" [value]="item.id">
            {{ item.name }}
        </option>
    </select>
</div>
selectedMenuItemId: {{ selectedMenuItemId() }}

<br><br>
<div>
    <label for="quantityInput">จำนวน:</label>
    <input id="quantityInput" type="number" [(ngModel)]="quantity" min="1" />
</div>
quantity: {{ quantity() }}

<br><br>
<label for="priceInput">ราคา: {{ total() }}</label>


<br><br>
<div>
    <label for="remarkInput">หมายเหตุ:</label>
    <input id="remarkInput" type="text" [(ngModel)]="remark" />
</div>
remark: {{ remark() }}